:root {
  --background: #ffffff;
  --foreground: #171717;
  /* bg-colors */
  --primary: oklch(0.9 0.17 100);
  --bg-dark: oklch(0.1 0 264);
  --bg: oklch(0.2 0 264);
  --bg-light: oklch(0.3 0 264);
  /* text-colors */
  --text: oklch(0.96 0 264);
  --text-muted: oklch(0.76 0 264);
  /* shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body.light {
  /* bg-colors */
  --primary: oklch(0.65 0.15 264);
  --bg-dark: oklch(0.92 0 264);
  --bg: oklch(0.96 0 264);
  --bg-light: oklch(1 0 264);
  /* text-colors */
  --text: oklch(0.15 0 264);
  --text-muted: oklch(0.4 0 264);
}
/* Global CSS */
body {
  margin: 1rem auto;
  max-width: min(90vw, 1200px);
  background: var(--bg-dark);
  color: var(--text-muted);
}
h1 {
  color: var(--text);
}
h2 {
  color: var(--text);
}
h3 {
  color: var(--text);
}
p {
  color: var(--text-muted);
}
.small,
a {
  color: var(--text);
  text-decoration: none;
  background: var(--bg-light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
header {
  display: flex;
}
.power-icon {
  width: 1.25rem;
  stroke: var(--text-muted);
}
button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background: var(--bg);
  padding: 0.24rem 0.5rem 0.12rem 0.5rem;
  margin-left: auto;
  transition: var(--transition);
}
button:hover {
  background: var(--bg-light);
  transition: var(--transition);
}
button:focus {
  outline: none;
}
/* shadows */
.shadows {
  background: var(--bg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 2rem;
  gap: 1rem;
  border-radius: 1.5rem;
}
.shadows div {
  background: var(--bg-light);
  padding: 2rem;
  border-radius: 1rem;
}

.shadow-s {
  box-shadow: var(--shadow-s);
}
.shadow-m {
  box-shadow: var(--shadow-m);
}
.shadow-l {
  box-shadow: var(--shadow-l);
}
