.navigation {
  width: 100%;
  padding: 1rem;
  background: var(--bg);
  border-radius: 500px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.navigation a {
  background: none;
  color: var(--text-muted);
  box-shadow: none;
}

.login_button {
  margin-left: auto;
}

.navigation a:hover,
.active {
  color: var(--text) !important;
}
